<script>exports = {}</script>
<script src='https://unpkg.com/@butterwell/noticeable@0.1.0/build/main/index.js'></script>
<div class="tsd-panel tsd-typography">
    {{#markdown}}{{{model.readme}}}{{/markdown}}
</div>
<div id="Hi"></div>
<script>
    console.log("Hi")
</script>
